@media (max-width: 600px) {
    #showcase{
        margin: 35px;
        width: 411px;
    }

    nav{
        margin-right: 115px;
    }

    #logo{ 
        margin-left: 12px;
        margin-top: -71px;
        width: 110px;
    }

    .img{
        margin-left: 280px;
    }

    #facebook{
        margin-left: 211px;
    }
}