@media (max-width: 600px) {
    #showcase{
        margin: 35px;
        width: 289px;
    }

    nav{
        margin-right: 10px;
    }

    #logo{
        width: 130px;
        margin-top: 10px;
    }

    .img{
        margin-left: 260px;
        margin-top: 10px;
    }

    #facebook{
        margin-left: 260px;
    }
}