* {
    background-color:#191970;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 9px;
    gap: 15px;
    background-color: #191970;
}
nav a {
    display: inline-block;
    min-width: 150px;
    padding: 9px;
    border-radius: 20px;
    border: solid 1px #ffffff;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}