* {
    background-image: url(Captura\ de\ tela\ 2023-06-04\ 122142.png);
    border-image-repeat: no-repeat;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 9px;
    gap: 15px;
    background-color: #191970;
}

nav a {
    display: inline-block;
    min-width: 150px;
    padding: 9px;
    border: solid 1px #ffffff;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    color: #ffffff;
    padding: -7px;
    margin-top: -35px;
    margin-left: 30px;
    position: fixed;
}

.btn{
    cursor: pointer;
    transition: background .4s;
    border-radius: 20px;
    color: #ffffff;
}

.btn:hover{
    background-color: black;
}
